h1{
    text-align:center;
    color:pink;
}

body{
    background-color:grey;
}

#repeat{
    list-style: none;
    
}

#time_days{
    margin-left: 50px;
}

#name{
    margin-left: 50px;
}

#number_of_pomodoros{
    margin-left: 50px;
    
}